
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- end favicon -->


<!-- Hotjar Tracking Code for blog.thedojo.mx -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1217463,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script src="/assets/js/sharect.min.js"></script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "url": "{{ site.url }}{{ page.url }}",
      "name": {{ page.title | jsonify }},
      "headline": {{ page.title | jsonify }},
      "keywords": {{ page.tags | join: ',' | jsonify }},
      "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
      "articleBody": {{ page.content | strip_html | jsonify }},
      "datePublished": {{ page.date | jsonify }},
      "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
      "author": {
        "@type": "Person",
        "name": {{ site.author_name | jsonify }},
        "givenName": {{ site.author_first_name | jsonify }},
        "familyName": {{ site.author_last_name | jsonify }},
        "email": {{ site.email | jsonify }}
      },
      "publisher": {
        "@type": "Organization",
        "name": {{ site.title | jsonify }},
        "url": "{{ site.url }}",
        "logo": {
          "@type": "ImageObject",
          "width": 32,
          "height": 32,
          "url": "{{ site.url }}/icon/favicon.ico"
        }
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ site.url }}{{ page.url }}"
      },
      "image": {
        "@type": "ImageObject",
        "width": {{ page.img_width | default: 1200 }},
        "height": {{ page.img_height | default: 400 }},
        "url": "{{ site.url }}{{ page.header.overlay_image | default: site.img_url }}"
      }
    }
</script>