---
title: "The Dojo :: Blog"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image:  "https://res.cloudinary.com/hectorip/image/upload/c_scale,w_1200/v1539415848/markus-spiske-666904-unsplash_y4hjex.jpg"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Nuestro objetivo es mejorar el estado del arte de desarrollo de software en México."
intro: 
  - excerpt: "Este es un blog Open Source. Si quieres participar visita el [repositorio](https://github.com/hectorip/TheDojoMXBlog)."
---

{% include feature_row id="intro" type="center" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in site.posts limit: 5%}
  {% include archive-single.html %}
{% endfor %}
