---
title: "The Dojo :: Blog"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image:  "https://res.cloudinary.com/hectorip/image/upload/c_scale,w_1200/v1539415848/markus-spiske-666904-unsplash_y4hjex.jpg"
excerpt: "Mejoremos el estado del arte de desarrollo de software en México."
intro: 
  - excerpt: "Aprende de todo lo relacionado con el desarrollo de software. Este blog es Open Source. Visita el [repositorio](https://github.com/hectorip/TheDojoMXBlog)."
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

<div style="width: 100%; text-align: center">
  <a href="/latest" title="Ver todos los posts">
    Ver todos los posts >>
  </a>
</div>

<div class="custom-grid">
  {% for post in site.posts limit: 20 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

</div>
<div style="width: 100%; text-align: center">
  <a href="/latest" title="Ver todos los posts">
    Ver todos los posts >>
  </a>
</div>