---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link_color: #D32734;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&Poppins');
article.page{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

.custom-grid {
    display: flex;
    .grid__item {
        min-width: 290px;
        max-width: 25%;
    }
}